.input-form {
  display: flex;
  width: 90%;
  position: relative;
  align-items: center;
}

.input {
  width: 100%;
  border-radius: 50px;
  padding: 20px 30px;
  font-size: 25px;
  border: none;
  transition: 0.2s;
  box-shadow: inset 0 0 5px black;
}

.input-form:focus {
  box-shadow: 0 0 10px 1000px black;
  outline: none;
}

.info {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.submit-button {
  position: absolute;
  width: 50px;
  height: 50px;
  margin: 12px;
  border-radius: 50px;
  right: 0px;
  border: none;
  font-size: 15px;
  background: #2f74c0;
  color: white;
  transition: 0.2s all;
  box-shadow: 0 0 10px black;
}

.select-menu {
  position: absolute;
  right: 70px;
  width: 140px;
  height: 30px;
  border-radius: 50px;
  font-size: 15px;
  text-align: center;
  background: rgb(239, 103, 103);
}

.day-buttons {
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin-top: 10px;
}

.tasks {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  flex-wrap: wrap;
}

.day-button {
  margin: 12px;
  border: none;
  font-size: 20px;
  background: #2f74c0;
  color: white;
  transition: 0.2s all;
  box-shadow: 0 0 10px black;
}

.day-button-selected {
  margin: 12px;
  border: 1px solid white;
  font-size: 20px;
  background: #2f74c0;
  color: white;
  transition: 0.2s all;
  box-shadow: 0 0 10px black;
}

.day-button:hover {
  border: 1px solid white;
}

.task {
  display: flex;
  text-align: center;
  border: 1px solid black;
  padding: 10px;
  margin: 20px;
  transition: 0.2s;
}

.task:hover {
  border: 1px solid black;
}

.icon {
  margin-left: 10px;
  font-size: 25px;
  cursor: crosshair;
}

.icon:hover {
  border: 0.01px solid black;
}

@media (max-width: 700px) {
  .input {
    width: 95%;
  }
  .todos {
    width: 95%;
  }
  .single_todo {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .single_todo {
    width: 40%;
  }
}
